* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
}

@font-face {
  font-family: Nunito;
  font-weight: 500;
  src: url(./fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: Nunito;
  font-weight: 700;
  src: url(./fonts/Nunito/Nunito-Bold.ttf);
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background: url(./img/background.jpg) repeat;
  background-size: contain;
  background-color: rgb(27, 27, 27);
  background-blend-mode: multiply;

  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-direction: column;

  height: 100vh;
  padding: 1rem;
}

h2 {
  color: #fafafa;
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  font-size: 1.2rem;
}

select {
  width: 100%;
  text-align: center;
  max-width: 400px;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 10px;
  border-right: 18px solid transparent
}

select::-ms-expand {
  display: none;
}

option {
  color:#333;
}

#card {
  width: 300px;
  height: 380px;
  padding: 1rem;
  background-color: #fafafa;
  position: relative;

  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;

}

#card-body::before {
  content: "";
  background-color: #b7f8e8;
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

#card-body {
  margin-top: 110px;
  text-align: center;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#card-body h1 {
  font-size: 1.75rem;
  font-weight: 700;
}
#card-body p {
  padding: 1rem;
}

.photo {
  position: absolute;
  width: 150px;
  border-radius: 50%;
  left: 75px;
  top: -30px;
  z-index: 5;
  box-shadow: 1px 1px 6px rgba(223, 223, 223, 0.349)
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.socials img {
  filter: invert(15%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(30%)
    contrast(101%);
  transition: filter 0.5s;
  width: 32px;
}

.socials img:hover {
  filter: invert(39%) sepia(87%) saturate(398%) hue-rotate(87deg)
    brightness(93%) contrast(87%);
}
